body{
    margin: 0;
    display: block;
}
header{
    position: relative;
    top: 0px;
    left: 0px;
    height: 50px;
}
.block-content{
    position: relative;
}
aside{
    float:left;
    min-width: 200px;
    max-width: 250px;
    width: 240px;
    /* height: 1506px; */
    margin-left: 1px;
}
section{
    width: auto;
    margin-left: 250px;
    grid-area: content;
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 50px auto auto auto auto auto;
    grid-template-areas:
    "art1 art1"
    "art2 img"
    "art3 img"
    "art4 art4"
    "art5 art5"
    "table1 table1";
}
#article-1{
    grid-area: art1;
}
.article-2{
    grid-area: art2;
}
#article-2{
    grid-area: art3;
}
#article-3{
    grid-area: art4;
}
#article-4{
    grid-area: art5;
}

.table{
    grid-area: table1;
}
.image{
    grid-area: img;
}
footer{
    height: 100px;
}