body{
    display: grid;
    grid-template-columns: minmax(200px, 250px) auto;
    grid-template-rows: 100px auto 10%;
    grid-template-areas:
    "header header"              
    "aside content"
    "footer footer";
}
header{
    height:5%;
    width: 100%;
    grid-area: header;
}
aside{
    height: 90%;
    width: 18%;
    margin-left: 1px;
    grid-area: aside;
}
section{
    grid-area: content;
    
}
.grid-article{
    display: grid; 
    grid-template-columns: auto 200px;
    grid-template-rows: 285px;
    grid-template-areas: "article-1 image";
}
.article-1{
    grid-area: article-1;
}
.image{
    grid-area: image;
}
footer{
    grid-area: footer;
}
